/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
#bg {
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
z-index: -1;
}
body{
  font-family: 'Roboto', 'sans-sans-serif';
  color: black;
}
.banner{
  background-color: #0fb9b1;
  position: absolute;
  top: 0px;
  left: 0px; 
  right: 0px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whats-for-dinner {
  padding-left: 16px;
}


.flex-container{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.flex-child-left {
  background-color: rgba(225, 225, 225, .9);
  height: 350px;
  width:430px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 45px;
  margin-right: 10px;
  padding-top:38px;
}
.flex-child-right {
  background-color: rgba(225, 225, 225, .9);
  height: 370px;
  width:430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  margin-left: 53px;
}

#resultsView {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.lookin-for {
  display: relative;
  top: 15px
  font-size: 20px;
}
.results-Title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  size: 31px;
  top: 42px;
  font-style: italic;
  margin-bottom: 18px;
}
.resultsText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  size: 20px;

}
.hidden {
  height: 0;
  width: 0;
  visibility: hidden;
}

.lets-cook {
  background-color: #0fb9b1;
  padding: 8px 54px;
  border-radius: 4px;
  border: none;
  top: -2px;
  position: relative;
  align-self: flex-start;
}

.add-recipe{
  background-color: rgba(225, 225, 225, .9);
  color: black;
  border-radius: 5px;
  margin: 15.9px;
  border: none;
  align-items: flex-end;
  padding: 9px;
}

.clear{
  background-color: #95a5a6;
  color: white;
  border-radius: 7px;
  border: none;
  position: absolute;
  align-items: flex-end;
  top: 427px;
  right: 57px;
  padding: 6px;
  width: 7%;
  text-align: center;
  box-sizing: border-box;
   
}
.add-new{
  background-color: #0fb9b1;
  color: black;
  padding: 8px 11px 6px 12px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-self: flex-start;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  padding-left: 0px;
}
iput [type="radio"]{
  padding: 0px;
  font-size: 5px;
}

.required {
  color: #ee5253;
}

.homeView {
  size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -50px;
}

.new-recipe{
  margin: 5px;
}
.new-recipe-bar{
  background-color: rgba(225, 225, 225, .9);
  position: absolute;
  bottom: 0px;
  left: 0px; 
  right: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
.recipe-select {
  padding-right: 5px;
}
.new-recipe {
  margin-right: 12px;
  margin-left: 4px;
}



