/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
#bg {
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
z-index: -1;
}

.banner{
  background-color: #0fb9b1;
  position: absolute;
  top: 0px;
  left: 0px; 
  right: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}


body{
  font-family: 'Roboto', 'sans-sans-serif';
  color: black;
}
.flex-container{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.flex-child-left {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 100px;
  margin-right: 20px;
}

.flex-child-right {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  flex-direction: column;
  padding: 100px;
}

#resultsView {
  display: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 100px;
}
.hidden {
  height: 0;
  width: 0;
  visibility: hidden;
}

.lets-cook {
  background-color: #0fb9b1;
  padding: 5px 40px 5px 40px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-self: flex-start;
}

.add-recipe{
  background-color: rgba(225, 225, 225, .9);
  color: black;
  border-radius: 5px;
  margin: 20px;
  border: none;
  align-items: flex-end;
}

.clear{
  background-color: #95a5a6;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 20px;
  right: 0px;
  bottom: 0px;
}

.homeView{
  width: 100px;
}

.new-recipe{
  margin: 5px;
}
.new-recipe{
  flex: column-reverse;
  background-color: rgba(225, 225, 225, .9);
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  height: 50px;
  font: black;
  margin: 20px 20px 0 60px;
}



